body {
    overflow: hidden; /* Nowe */
    margin: 0;
    padding: 0;
    color: rgb(192, 4, 145);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
  }
  
  h1 {
    font-size: 56px;
    font-weight: 400;
    margin: 0;
}

p {
  font-size: 24px;
  margin: 0 0 24px 0;
  opacity: 0.75;
}

a {
  color: rgb(192, 4, 145);
  outline: 0;
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg {
  background: url("background_card.jpg") repeat-x bottom left;
  height: 100%;
  position: absolute;
  background-size: 1500px;
  width: 4500px;
}

.middle-box {
  animation: show 1s 1s forwards;
  opacity: 0;
  text-align: center;
  width: 100%;
  margin-top: -300px;
}

.nav {
    display: flex;
  justify-content: center;
}

.nav-item {
  transition: all 0.3s ease-in-out;
  border-radius: 40%;
  border:solid 1px rgb(192, 4, 145);
  width: 72px;
  height: 72px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.175);
}

.nav-item a {
  font-size: 28px;
}

@keyframes show {
  0% {
    margin-top: -268px;
    opacity: 0;
  }
  100% {
    margin-top: -300px;
    opacity: 1;
  }
}
